
body{
    font: normal normal 1em/1.4em "Helvetica Neue", Helvetica, Arial, "Sans Serif", Serif;
    color: #444;
}
article{
    margin: auto;
    max-width: 960px;
}
aside{
    margin: 20px 0;
    padding: 20px;
    font-style: italic;
    color: #888;
    text-shadow: 1px 1px 0 #fff;
    border-radius: 10px;
    background: #d8d8d8;
}
div{
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 10px;
}
